*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(27, 27, 27);
}
h1{
    color: white;
    text-align: center;
    padding: 20px;
}
div{
    text-align: center;
    margin: auto;
    
}
p{
    padding: 20px;
    color: white;
}
